Last Release/Client/Client/Service References/ServiceReferenceAzure/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://surferlitedev.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://surferlitedev.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://surferlitedev.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://surferlitedev.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://surferlitedev.cloudapp.net/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFServiceSurferlite" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSurferlite_GetHrefLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHrefLinks" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetHrefLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHrefLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_ServiceDownloadTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDownloadTest" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_ServiceDownloadTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDownloadTestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHtml" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_getdatafromPack_InputMessage">
    <wsdl:part name="parameters" element="tns:getdatafromPack" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_getdatafromPack_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdatafromPackResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceSurferlite_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSurferlite">
    <wsdl:operation name="GetHrefLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/GetHrefLinks" message="tns:IServiceSurferlite_GetHrefLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/GetHrefLinksResponse" message="tns:IServiceSurferlite_GetHrefLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/GetData" message="tns:IServiceSurferlite_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/GetDataResponse" message="tns:IServiceSurferlite_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceDownloadTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/ServiceDownloadTest" message="tns:IServiceSurferlite_ServiceDownloadTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/ServiceDownloadTestResponse" message="tns:IServiceSurferlite_ServiceDownloadTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/GetHtml" message="tns:IServiceSurferlite_GetHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/GetHtmlResponse" message="tns:IServiceSurferlite_GetHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdatafromPack">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/getdatafromPack" message="tns:IServiceSurferlite_getdatafromPack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/getdatafromPackResponse" message="tns:IServiceSurferlite_getdatafromPack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSurferlite/GetDataUsingDataContract" message="tns:IServiceSurferlite_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSurferlite/GetDataUsingDataContractResponse" message="tns:IServiceSurferlite_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSurferlite" type="tns:IServiceSurferlite">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHrefLinks">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/GetHrefLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceDownloadTest">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/ServiceDownloadTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtml">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/GetHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdatafromPack">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/getdatafromPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceSurferlite/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceSurferlite" binding="tns:BasicHttpBinding_IServiceSurferlite">
      <soap:address location="http://surferlitedev.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>